@charset "utf-8";
@font-face {
	font-family: Glamore;
	src: url('Glamore.ttf') format('truetype'),
		 url('Glamore.otf') format('opentype');
}
@font-face {
	font-family: Klik;
	src: url('Klik.otf') format('opentype');
}

/* 
	This is the CSS file for the basic styles of Hannah Ingham's Ceramics page.
	Author: Hannah Ingham
	Date: 11.22.2022
	Filename: hic_base.css
*/

/* Background Styles */
html {
	background: rgb(204, 204, 255) url(hic_html_background1.png) center center / 14% 10%;
}

body {
	color: rgb(136, 123, 103);
	background-color: rgba(255, 245, 238, 0.75);
}

h1 {
	display: none;
}

header img {
	width: 25%;
	margin-left: 35%;
	margin-right: 40%;
}

h2 {
	color: rgb(255, 245, 238);
	background-color: hsl(5, 8%, 50%);
}

footer {
	color: rgba(255, 245, 238, 0.9);
	background-color: hsl(38, 3%, 50%);
}

nav {
	background-color: hsla(38, 3%, 50%, 0.3);
}

nav a {
	color: hsl(38, 3%, 50%);
}

/* Font Styles */
* {
	font: 16px/1.25em Klik, 'Lucida Sans Unicode', sans-serif;
	word-spacing: 1px;
	text-align: justify;
}

h2, h3 {
	font-family: Glamore, 'Palatino Linotype', serif;
}

h2 {
	font-size: 4vw;
	letter-spacing: 3px;
	text-align: center;
}

h3 {
	font-size: 25px;
	letter-spacing: 3px;
	text-align: center;
}

h4 {
	text-indent: 5%;
}

cite, em {
	font-style: normal;
	font-weight: bolder;
}

small {
	font-style: oblique;
}

a {
	text-decoration: none;
}

address {
		text-align: right;
}

footer {
	text-transform: lowercase;
	font-variant: small-caps;
	font-size: 0.9em;
	text-align: center;
}

div#music audio {
	display: block;
	width: 30%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 40px;
	filter: drop-shadow(-5px 5px 5px hsl(5, 8%, 50%));
}

div#music p {
	text-align: center;
}

/* List Styles */
nav > ul {
	list-style-type: none;
}

/* Padding Styles */
p {
	padding: 15px;
	margin: 0px 20px 0px 20px;
}

h4 {
	margin-left: 35px;
	padding-top: 20px;
	border-bottom: 0px;
}

address {
	padding-bottom: 10px;
	padding-right: 10px;
	padding-left: 15px;
	height: 75px;
}

blockquote {
	margin-top: 50px;
	margin-bottom: 75px;
}

/* Link Styles */
aside#links a:link, p.contacts a {
	color: rgb(52, 152, 219);
}

aside#links a:visited {
	color: rgb(174, 214, 241);
}

aside#links a:hover, aside#links a:active, aside#links a:focus {
	text-decoration: underline;
}
 
p > small > a {
	color: hsl(336, 36%, 30%);
	font-style: oblique;
}

nav > ul li:first-of-type:hover::before {
	content: url(hic_home_icon.png);
}

nav > ul li:nth-of-type(2):hover::before {
	content: url(hic_tile_icon.png);
}

nav > ul li:nth-of-type(3):hover::before {
	content: url(hic_vessels_icon.png);
}

nav > ul li:last-of-type:hover::before {
	content: url(hic_box_icon.png);
}

/* Text Styles */
p::first-letter {
	font-family: Glamore, 'Palatino Linotype', serif;
	font-size: 1.3em;
}

p.contacts::first-letter {
	font-family: Klik, 'Lucida Sans Unicode', sans-serif;
	font-size: 1em;
}

blockquote {
	quotes: "\201C" "\201D";
}

blockquote::before {
	content: url(hic_open1.png);
}

blockquote::after {
	content: url(hic_close1.png);
}

/* Layout Styles */
body {
	margin-left: auto;
	margin-right: auto;
	width: 70%;
	min-width: 300px;
	max-width: 1500px;
}

nav li {
	width: 25%;
	height: 25px;
	display: block;
	float: left;
	text-align: center;
}

nav::after {
	clear: both;
	content: "";
	display: table;
}

aside#links a {
	width: 14.25%;
	display: block;
	float: left;
	text-align: center;
}

address {
	clear: both;
}

img {
	display: block;
	width: 100%;
}

html {
	background-attachment: fixed;
	background-size: cover;
}
fieldset img {
	width: 14.25%;
	float: left;
}
article {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
}
fieldset {
	display: inline-flex;
	flex-flow: row wrap;
	align-content: center;
	justify-content: center;
}
fieldset img {
	flex-basis: 100px;
}

/* Form Styles */
form#survey {
	width: 95%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 30px;
	display: flex;
	flex-flow: row wrap;
}

form#survey > * {
	flex: 1 1 150px;
}


form#survey div#general {
	flex: 1 1 1200px;
	width: 100%;
}

form#survey fieldset {
	display: flex;
	flex-flow: row wrap;
	background-color: rgba(230, 207, 197, 0.5);
	border: 5px double;
	border-radius: 20px;
}

form fieldset > * {
	flex: 1 1 1000px;
}

div.formRow {
	display: flex;
	flex-flow: row wrap;
	margin: 10px 0px;
}

div.formRow > label {
	flex: 3 1 200px;
	font-size: 0.9em;
}

div.formRow > input {
	flex: 1 1 100px;
}

form#survey legend {
	font-size: 1.3em;
	font-weight: bold;
	padding: 3px;
}

form#survey fieldset textarea {
	height: 100px;
	min-width: 300px;
	max-width: 450px;
}

div#buttons {
	text-align: center;
	padding-top: 10px;
	width: 20%;
	flex: 1 1 500px;
}

div#buttons input {
	padding: 5px;
	font-size: 1.5em;
}