@charset "utf-8";

/* 
	This is the CSS file for the media styles of Hannah Ingham's ceramics website.
	Author: Hannah Ingham
	Date: 12.12.2022
	Filename: hic_media.css
*/

/* Mobile Styles */
@media only screen and (max-width: 480px) {
	blockquote, aside#links, header img {
		display: none;
	}
	h1 {
		display: block;
		color: rgb(255, 245, 238);
		background-color: hsl(5, 8%, 50%);
		text-align: center;
	}
	img#imageMap {
		width: 300px;
	}
	nav li {
		font-size: 1.3em;
	}
	h2 {
		font-size: 2em;
	}
	header {
		width: 70%;
		margin-left: auto;
		margin-right: auto;
		min-width: 300px;
		max-width: 1500px;
		position: fixed;
		top: 0px;
		z-index: 1000;
	}
	nav {
		width: 70%;
		margin-left: auto;
		margin-right: auto;
		margin-left: auto;
		min-width: 300px;
		max-width: 1500px;
		position: fixed;
		top: 20px;
		background-color: rgb(255, 245, 238);
		z-index: 1000;
	}
	h2 {
		width: 70%;
		margin-left: auto;
		margin-right: auto;
		min-width: 300px;
		max-width: 1500px;
		position: fixed;
		top: 45px;
		z-index: 1000;
	}
	article {
		margin-top: 40%;
	}
	table, tbody, tr, td, th {
		display: block;
	}
	thead, tfoot {
		display: none;
	}
	tbody td {
		position: relative;
		padding-left: 40%;
	}
	table caption {
		display: block;
		text-align: center;
	}
	table {
		margin: 10px;
	}
	address {
		background: url(hic_logo.png) bottom left / 19% no-repeat content-box;
	}
}

/* Tablet Styles */
@media only screen and (min-width: 481px) and (max-width: 855px) {
	blockquote, aside#links, header img {
		display: none;
	}
	h1 {
		display: block;
		color: rgb(255, 245, 238);
		background-color: hsl(5, 8%, 50%);
		text-align: center;
	}
	h2 {
		font-size: 2.2em;
	}
	header {
		width: 70%;
		margin-left: auto;
		margin-right: auto;
		position: fixed;
		top: 0px;
		z-index: 1000;
	}
	nav {
		width: 70%;
		margin-left: auto;
		margin-right: auto;
		position: fixed;
		top: 20px;
		background-color: rgb(255, 245, 238);
		z-index: 1000;
	}
	h2 {
		width: 70%;
		margin-left: auto;
		margin-right: auto;
		position: fixed;
		top: 45px;
		z-index: 1000;
	}
	article {
		margin-top: 115px;
	}
	table, tbody, tr, td, th {
		display: block;
	}
	thead, tfoot {
		display: none;
	}
	tbody td {
		position: relative;
		padding-left: 50%;
	}
	td::before {
		content: attr(data-label);
		position: absolute;
		top: 0px;
		left: 0px;
		padding: 5px;
		width: 40%;
		font-size: 0.8em;
	}
	table caption {
		display: block;
		text-align: center;
	}
	table {
		margin: 15px;
	}
	address {
		background: url(hic_logo.png) bottom left / 19% no-repeat content-box;
	}
}
