@charset "utf-8";
@font-face {
	font-family: Glamore;
	src: url('Glamore.ttf') format('truetype'),
		 url('Glamore.otf') format('opentype');
}
@font-face {
	font-family: Klik;
	src: url('Klik.otf') format('opentype');
}

/* 
	This is the CSS file for the basic layout styles of Hannah Ingham's Ceramics page.
	Author: Hannah Ingham
	Date: 11.22.2022
	Filename: hic_layout.css
*/

/* Background Styles */
html {
	background: rgb(204, 204, 255) url(hic_html_background.jpeg) center center / 100% 100%
		no-repeat;
}

body {
	color: hsl(336, 36%, 30%);
	background-color: rgba(255, 245, 238, 0.9);
}

h1 {
	color: rgb(255, 245, 238);
	background-color: hsl(336, 36%, 30%);
}

h2 {
	color: rgb(255, 245, 238);
	background-color: hsl(336, 36%, 30%);
}

footer {
	color: white;
	color: rgba(255, 245, 238, 0.9);
	background-color: blue;
	background: url(hic_footer_background.jpg);
}

/* Font Styles */
* {
	font: 16px/1.25em Klik, 'Lucida Sans Unicode', sans-serif;
	word-spacing: 1px;
	text-align: justify;
}

h2, h3 {
	font-family: Glamore, 'Palatino Linotype', serif;
}

h2 {
	font-size: 4vw;
	letter-spacing: 3px;
	text-align: center;
}

h3 {
	font-size: 25px;
	letter-spacing: 3px;
	text-align: center;
}

p {
	text-indent: 5%;
}

h4 {
	text-indent: 5%;
}

cite, em {
	font-style: normal;
	font-weight: bolder;
}

small {
	font-style: oblique;
}

a {
	text-decoration: none;
}

address {
		text-align: right;
}

footer {
	text-transform: lowercase;
	font-variant: small-caps;
	font-size: 0.9em;
	text-align: center;
}

/* List Styles */
nav > ul {
	list-style-type: none;
}

/* Padding Styles */
p {
	padding: 15px;
	margin: 0px 20px 0px 20px;
}

h4 {
	margin-left: 35px;
	padding-top: 20px;
	border-bottom: 0px;
}

address {
	padding-bottom: 10px;
	padding-right: 10px;
}

/* Link Styles */
aside#links a:link {
	color: rgb(52, 152, 219);
}

aside#links a:visited {
	color: rgb(174, 214, 241);
}

aside#links a:hover, aside#links a:active, aside#links a:focus {
	text-decoration: underline;
}
 
p > small > a {
	color: hsl(336, 36%, 30%);
	font-style: oblique;
}

nav > ul li:first-of-type:hover::before {
	content: url(hic_home_icon.png);
}

nav > ul li:nth-of-type(2):hover::before {
	content: url(hic_tile_icon.png);
}

nav > ul li:nth-of-type(3):hover::before {
	content: url(hic_vessels_icon.png);
}

nav > ul li:last-of-type:hover::before {
	content: url(hic_box_icon.png);
}

/* Text Styles */
p::first-letter {
	font-family: Glamore, 'Palatino Linotype', serif;
	font-size: 1.3em;
}

p.contacts::first-letter {
	font-family: Klik, 'Lucida Sans Unicode', sans-serif;
	font-size: 1em;
}

blockquote {
	quotes: "\201C" "\201D";
}

blockquote::before {
	content: url(hic_open1.png);
}

blockquote::after {
	content: url(hic_close1.png);
}