@charset "utf-8";

/* 
	This is the CSS file for the basic layout of Hannah Ingham's duality box page.
	Author: Hannah Ingham
	Date: 12.12.2022
	Filename: hic_box_layout1.css
*/

article {
	position: relative;
	height: 1600px;
}

body {
	min-width: 900px;
}

hr {
	display: none;
}

fieldset {
	border: none;
}

img#bProg1 {
	width: 300px;
	height: 200px;
	position: absolute;
	left: 5%;
}

img#bProg2 {
	width: 200px;
	height: 150px;
	position: absolute;
	left: 7%;
	top: 31%;
}

img#bProg3 {
	width: 200px;
	height: 150px;
	position: absolute;
	left: 7%;
	top: 41%;
}

img#bProg4 {
	width: 200px;
	height: 150px;
	position: absolute;
	left: 7%;
	top: 51%;
}

img#bProg5 {
	width: 150px;
	height: 200px;
	position: absolute;
	right: 3%;
	top: 57%;
}

img#bProg6 {
	width: 225px;
	height: 150px;
	position: absolute;
	left: 10%;
	top: 70%;
}

img#bProg7 {
	width: 225px;
	height: 150px;
	position: absolute;
	left: 10%;
	top: 80%;
}

img#bProg8 {
	width: 225px;
	height: 150px;
	position: absolute;
	left: 35%;
	top: 70%;
}

img#bProg9 {
	width: 225px;
	height: 150px;
	position: absolute;
	left: 35%;
	top: 80%;
}

img#bProg10 {
	width: 250px;
	height: 175px;
	position: absolute;
	right: 8%;
	top: 21%;
}

section#inspo {
	position: absolute;
	display: block;
	top: 80px;
	left: 37%;
	width: 50%;
}

div > img {
	display: none;
}

section#comp {
	position: absolute;
	display: block;
	top: 19%;
	right: 40%;
}

section#elem {
	position: absolute;
	display: block;
	top: 33%;
	left: 28%;
}

section#glaze {
	position: absolute;
	display: block;
	top: 60%;
	right: 20%;
}

section#craft {
	position: absolute;
	display: block;
	top: 71%;
	left: 65%;
}

section#refl {
	position: absolute;
	display: block;
	bottom: 5px;
	left: 5px;
}

article {
	background: url(wall_box.jpg) top right / 15% 12% no-repeat;
}

/* Column Layout */
section#elem {
	column-count: 2;
	column-width: 225px;
	column-gap: 15px;
	column-rule: 1px dashed hsl(5, 8%, 50%);
}

section#elem h3 {
	padding-bottom: 5px;
	column-span: all;
}