@charset "utf-8";

/* 
	This is the CSS file for the graphic styles of Hannah Ingham's ceramics website.
	Author: Hannah Ingham
	Date: 12.12.2022
	Filename: hic_styles.css
*/

/* Figure Styles */
figure {
	margin: 20px;
	width: 100%;
}

figure > figcaption {
	color:  hsl(38, 3%, 50%);
	font-family: serif;
	font-style: oblique;
	text-align: left;
}

/* Background Styles */
section#refl {
	border: 3px dashed hsl(38, 3%, 50%);
	border-radius: 20px;
}

blockquote {
	width: 55%;
	border-style: solid;
	border-width: 30px;
	border-image: url(hic_tile_border.png) 16% round;
	margin-left: auto;
	margin-right: auto;
}

nav li {
	border-radius: 3px;
}

/* Shadow Styles */
h2 {
	text-shadow: black -7px -2px 10px;
}

body {
	box-shadow: grey 20px 0px 50px,
				grey -20px 0px 50px;
}

nav li:hover {
	box-shadow: inset hsla(38, 3%, 50%, 0.3) 2px 2px 10px 5px,
				inset hsla(38, 3%, 50%, 0.3) -2px -2px 10px 5px;
}

/* Gradient Styles */
address {
	background: linear-gradient(to bottom right, rgb(206, 218, 209) 20%, 
				rgb(230, 207, 197) 50%, rgb(228, 205, 172) 75%);
}

blockquote {
	background: radial-gradient(rgba(206, 218, 209, 0.9) 25%, rgba(230, 207, 197, 0.6), 
				rgba(228, 205, 172, 0.1) 80%);
}

/* Transformation Styles */
blockquote#vessels {
	opacity: 0.75;
	transform: translate(-90px, 10px) rotate(-10deg) perspective(350px) rotateX(5deg);
}

section#blockquotes {
	position: relative;
}

blockquote#duality {
	opacity: 0.75;
	position: relative;
	top: 20px;
	left: 85px;
	transform: rotate(5deg) perspective(350px) rotateX(-5deg);  
}

img#tProg7, img#vProg11, img#bProg9, img#bProg10 {
	filter: saturate(1.2);
}

img#imageMap {
	width: 600px;
	filter: grayscale(0.4);
	margin-left: auto;
	margin-right: auto;
	border-radius: 30px;
}

/* Table Styles */
table.glazeChart {
	border: 15px double hsl(38, 3%, 50%);
	width: 90%;
	border-collapse: collapse;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 50px;
}

table.glazeChart th, table.glazeChart td {
	border: 2px solid hsl(38, 3%, 50%);
	padding: 3px;
	vertical-align: top;
}

table.glazeChart caption {
	caption-side: bottom;
	text-align: right;
	font-size: 0.8em;
	font-style: italic;
}

table.glazeChart th {
	font-size: 1.2em;
	font-weight: bold;
	text-align: center;
	background-color: rgba(228, 205, 172, 0.3);
}

table.glazeChart thead {
	background-color: rgb(228, 205, 172);
}

col#titles {
	background-color: rgba(230, 207, 197, 0.3);
	width: 40%;
}

col.glazes {
	background-color: rgba(206, 218, 209, 0.3);
	width: 30%;
}

table.glazeChart thead tr {
	height: 50px;
}

table.glazeChart tbody tr {
	height: 30px;
}

/* Form Styles */
form#survey input:required {
	background-color: rgba(206, 218, 209, 0.7);
	border: 1px solid;
	border-radius: 2px;
}

form#survey div#general input:optional, form#survey div#general select {
	background-color: rgba(206, 218, 209, 0.2);
	border: 0.5px dashed;
	border-radius: 2px;
}

p.contacts {
	width: 40%;
	border: 2px solid white;
	border-radius: 5px;
	margin-bottom: 30px;
}